<div class="cuisine-box">
  <div class="row">
    <div class="col-sm-2">
      <span class="glyphicon glyphicon-grain" id="add-your-option"></span>
    </div>
    <div class="col-sm-9">
      <span class="name">Add Your Own Option</span></br>
      <span class="description">
        <input type="text">
        <button type="button" class="btn btn-info">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </span>
    </div>
  </div>
</div>
